.divform {
  background-color: #151515;
  color: #FFFFFF;
  padding: 30px;
  border-radius: 15px;
}

form {
  display: grid;
  text-align: left;
  font-size: 30px;
}

.divnome {
  display: grid;
}

.divcor {
  display: grid;
}

span {
  color: red;
  font-size: 20px;
  margin: 15px;
}

h1 {
  color: white;
  font-weight: 400;
}

input {
  height: 30px;
  width: 96%;
  padding: 5px;
  margin: 25px;
  font-size: 25px;
  background-color: #353535;
  color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

.inputbutton {
  position: relative;
  left: 70%;
  width: 30%;
  height: 50px;
  margin: 10px;
  background-color: #36CE7C;
  padding: 5px;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.inputbutton:disabled {

  background-color: rgba(255, 255, 255, 0.4);;
}

.containerCards {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
