@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');


body {

    font-family: 'Lora', serif;

    color: white;

    background-color: grey;
}

input::after {
    margin-left: 20px;
    content: 'Checkbox';
    font-family: 'Lora', serif;
    color: white;
    
}

input:checked {

    transform: scale(2);

}

input:focus {

    border-color: green;
    border-width: 10px;
}

button:disabled {

    background: red;
}

button:enabled {

    background: green;
}

button::first-letter{

    font-size: 40px;
}

button:hover {

    background-color: white;
    border-radius: 24px;
}

tr:nth-child(2n) {

    background-color: green;
}