h1 {

    color: chartreuse;

}

ul {

    background-color: chartreuse;

    &:hover {

        background-color: skyblue;

    }

    li {

        color: white;

        a {

            color: violet;

        }

    }
    
}

