button {

    border: 0;
    padding: 12px 24px;
    background-color: salmon;
    color: white;
    border-radius: 12px;
    transition-duration: 1s;
    /* Duração para transição */

}

button:hover {

    background-color: violet;
    border-radius: 24px;
}

a:link {
    /* Só estiliza quando a tag a (anchor) tem um link */

    color: red;

}

a:visited {

    color: green;

}

input:focus {

    background-color: white;
    transition-duration: .6s;

}

ul {

    list-style: none;

}

ul li {

    margin: 12px 0;

}

ul li:nth-child(2n) {

    color: red;

}


p::before {

    content: 'Paragrafo';
    background-color: red;
}

p::after {

    content: 'Fim do Paragrafo';
    background-color: green;
}

input:checked {

    transform: scale(2);

}


